/* RGB
raisin: #591000;
rusty red: #d8243f;
alabaster: #eaf2e3;
topaz: #ffc682;
ocean: #61e8e1;
*/
/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Caveat Brush', cursive;
*/
/* Global styles
---------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin: 10px;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  color: #a47036;
}
h1 {
  font-size: 60px;
}
h2 {
font-size: 30px;
line-height: 90%;
}
div a {
  color:#a47036;
  text-decoration: none;
}
.content-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/* Header and footer
-----------------------*/
#navbar {
  overflow: hidden;
  text-align: center;

  background: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: sticky;
  top: 0px;
}
nav a {
  padding: 10px;
  color: #ef709d;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}
nav a:before {
  content: " \272F ";
  color: #e1dd8f;
}
nav a:after {
  content: " \272F ";
  color: #e1dd8f;
}
header, footer {
  color:#a47036;
  background:#f9dbbd;
}
header {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 0px;
}
header h1, header h2 {
  color:#a47036;
  text-align: center;
  margin: 0;
}
.profile-img {
width: 200px;
border-radius: 50%;
}
footer {
  text-align: center;
  justify-content: space-evenly;

}
footer p {
  padding: 1rem 3rem;
  line-height: 1.3rem;
}
footer p a {
  text-decoration: none;
}
.mantra:after {
  content: " \272F ";
  color: white;
}
.mantra:before {
  content: " \272F ";
  color: white;
  }
.contact-info a {
  padding: 10px;
  display: inline-block;
}
.projects {
  color: #e1dd8f;
  background:#e1dd8f;
}
.projects-section {
  text-align: center;
  padding: 6rem 2rem;

}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 3rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  #navbar {
    width: 100%;
  }
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
